[Unit]
Description=Service for pifancontrol

[Service]
ExecStart=/usr/local/sbin/fan_control.py
Restart=on-failure

[Install]
WantedBy=default.target
